[phases.setup]
nixPkgs = ["python39"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[phases.build]
cmds = ["python migrate_airports.py || true"]

[start]
cmd = "gunicorn -w 4 -b 0.0.0.0:$PORT wsgi:app --preload --timeout 120"
